[submodule "third_party/mergesorts"]
	path = third_party/mergesorts
	url = https://github.com/geohot/mergesorts
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/third_party/googletest"]
	path = src/third_party/googletest
	url = https://github.com/google/googletest/
	branch = v1.10.x
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
	branch = v1.10.x
[submodule "third_party/qt5"]
	path = third_party/qt5
	url = git://code.qt.io/qt/qt5.git
	branch = 5.15.2
